:root {
    --white: #f0f0f0; 
    --dark-blue: #2B3F55; 
    --gold-pink: #E0BFB8; 
    --gold-pink-darker: #D4ABA3;
    --gray: #808080; 
    --ivory-darker: #c0b69f;  
    --ivory: #D2C7AD;
}

* {
    font-family: Helvetica, sans-serif;
}

header {
    margin-bottom: 30px; 
}

main {
    text-align: center;
    width: 100%;
}

footer { 
    padding: 30px 12%; 
    background-color: var(--gold-pink-darker);
    display: flex; 
    justify-content: space-between; 
    color: white; 
}

hr {
    width: 75%; 
}

h3 {
    color: var(--gold-pink-darker); 
}


.title {
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; 
    color: var(--gold-pink-darker); 
    font-size: 48px; 
    margin-top: 18px; 
    margin-bottom: 0px; 
    text-align: center; 
}

.subtitle {
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; 
    color: var(--gray); 
    font-size: 20px; 
    font-style: italic;
    margin-top: 0px; 
    margin-bottom: 40px; 
    text-align: center; 
}

.about {
    padding-left: 16%; 
    padding-right: 16%; 
    color: var(--gray); 
    font-size: large;
    text-align:justify;
    margin-bottom: 56px; 
}

.connect {
    font-size: 16px;
    text-align: center;
    margin-bottom: 4px; 
    background-color: var(--white); 
    color: var(--gray); 
    font-weight: bold;
    padding: 4px 8px; 
    border-radius: 4px;
    border-color: var(--ivory-darker);
    cursor:pointer;
}

.connect:hover {
    background-color: var(--ivory-darker); 
    color: var(--white); 
}

.description {
    margin: 0px 30px; 
    padding: 0px 40px; 
    width: 40%; 
}

.footerImage {
    margin-top: 20px;
    width: 60%; 
}

.footspace {
    width: 60%; 
    color: var(--white);
}

.galleryTitle {
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;  
    margin-top: 40px; 
    font-size: 32px; 
    color: var(--gold-pink-darker);
    margin-bottom: 10px; 

}

.hf {
    font-size: 20px;
    font-weight: bold; 
}

.kaikas-info {
    margin-bottom: 32px; 
    margin-left: 25%; 
    margin-right: 25%; 
    display: flex; 
    justify-content: space-between; 
    
}

.kaikas-section {
    width: 400px; 
    padding: 10px 10px; 
    margin: 20px 20px; 
    background-color: var(--ivory); 
    color: white; 
}

.links {
    font-size: 17px;
    margin-right: 80px; 
    margin-top: 10px; 
    padding: 5px 5px; 
    display: flex; 
    flex-direction: column; 
    
}

.links li {
    list-style-type: none;
    margin-top: 12px;
}

.links li a {
    text-decoration: none;
    color: white;
}

.links li a:hover {
    text-decoration: underline;
}

.mint {
    font-size: 16px;
    text-align: center;
    background-color: var(--ivory-darker); 
    color: white;  
    font-weight: bold; 
    padding: 4px 24px; 
    border-radius: 8px;
    border-style: none;
    cursor:pointer; 
}

.moreInfo {
    display: flex; 
    justify-content: space-between; 
    margin: 0px 30px; 
}

.price {
    color: var(--gray); 
}

.sectionContent {
    font-size: 18px; 
}

.sectionLine {
    border: 3px solid white; 
    width: 75%; 
    margin-bottom: 20px; 
}

.sectionTitle {
    font-size: 26px; 
    font-weight:bolder;  
    margin-bottom: 10px;
    color: white;   
}


.vl {
    border-left: 4px solid white;
    height: 80%;
    margin-left: -2px;
    top: 0;
}

#checkKaikas {
    font-size: 20px;
    text-align: center;
    margin-bottom: 4px; 
    color: var(--gray); 
    padding: 4px 8px; 
    border-radius: 4px;
    border-color: var(--ivory-darker);
    cursor:pointer;
}


#enableNotice {
    color: var(--gray); 
    font-size: 20px; 
    font-style: italic;
    text-align: center;
    margin: auto;
}

#gallery {
    margin-bottom: 64px; 
    padding-left: 8%; 
    padding-right: 8%;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between;  
}

#klaytnscope {
    margin-top: 30px; 
    font-size: 16px;
    text-align: center;
    margin-bottom: 4px; 
    color: #707070; 
    font-weight: bold;
    padding: 4px 8px; 
    border-radius: 4px;
    border-color: var(--ivory-darker);
}

#notEnabled {
    margin: auto; 
}

#mintStartBlockNumber {
    margin-bottom: 30px; 
}